# Logs 日志目录及日志文件
logs
*.log

# Runtime data 运行时的数据，进程目录和进程id
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul 被像 istanbul 等工具使用的覆盖目录
coverage
.eslintcache

# Dependency directory 项目依赖目录
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX 苹果系统上的隐藏文件
.DS_Store

# 发布的app生成目录、构建目录
release/app/dist
release/build
.erb/dll

# IDEA 
.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

# SQLite 数据库文件
database.sqlite
